.section_football_app {
  background-repeat: no-repeat;
  background-image: linear-gradient(270deg, #fff 55%, transparent 100%), url(../img/bg-second_section.png);
  height: 594px;
  position: relative;
  z-index: 10;
}

.screen_football_app {
  max-width: 1066px;
  margin: 12px auto 0;
  display: flex;
  justify-content: space-between;
  /*background-image: linear-gradient(270deg, #fff,rgba(255, 255, 255, 0)),
  rgba(255, 255, 255, 0.5);*/
}

.football_app {
  position: relative;
  padding-left: 610px;
}

.description_match {
  box-sizing: border-box;
  max-width: 105px;
  margin-top: 26px;
  display: block;
}

/*Information in span*/
.time_match {
  color: var(--color_paragraph);
  font-family: var(--font_lato);
  font-weight: bold;
  line-height: 22px;
  padding-top: 27px;
  letter-spacing: 0.5px;
}

.teams {
  font-family: var(--font_lato);
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding-top: 13px;
  display: block;
}

.match_status {
  line-height: 21px;
  font-family: var(--font_lato);
  padding: 17px 0;
  display: block;
}

.preview_match {
  border-radius: 4px;
  box-shadow: -22.04px, 23.88px, 48.98px, rgba(0, 0, 0, 0.5);
  background: var(--color_white);
  position: absolute;
  top: 109px;
  left: -25px;
  z-index: 10;
  width: 358px;
}

.preview_match_info {
  display: flex;
  padding: 0 0 4px 17px;
}

.preview_match_imeges {
  margin: 46px auto 0;
  position: relative;
}

.chelsea_img {
  position: absolute;
  bottom: 35px;
  left: 58px;
}

.preview_match_footer {
  background: #eee;
  padding: 12px 0 10px;
}

/*checkbox*/
input[type="checkbox"] {
  width: 27px;
  height: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 50px;
  box-shadow: inset 0 0 5px, rgba(0,0,0, 0.2);
  transition: 0.5s;
  position: relative;
  margin-left: 36px;
  transform: translateY(4px);
}

input:checked[type="checkbox"] {
  background: #02a9f4;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: -5px;
  left: -8px;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0, 0.2);
  transition: 0.5s;
}

input:checked[type="checkbox"]::before {
  left: 14px;
}
/*-----------checkbox end-----------*/

.notifications {
  color: var(--color_paragraph);
  font-family: var(--font_lato);
  font-size: 19px;
  line-height: 25px;
  padding-left: 15px;
}

.arsenal_vs_chelsea {
  position: absolute;
  top: 294px;
  left: 83px;
}

.description_match-block {
  margin-top: 130px;
}

.description_match-text {
  max-width: 90%;
  line-height: 23px;
  font-family: var(--font_lato);
  padding-top: 25px;
  letter-spacing: 0.18px;
}

.description__text-more {
  padding-top: 23px;
  letter-spacing: 0.14px;
}

.what_it_does {
  color: var(--color_blue);
  font-family: var(--font_lato);
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.football_app-more {
  text-decoration: none;
  padding-top: 25px;
  color: var(--color_blue);
  font-family: var(--font_lato);
  font-weight: bold;
  line-height: 21px;
  display: block;
  letter-spacing: 1px;
}
