.apple_vs_google {
  display: flex;

  max-width: 344px;
  padding: 52px 0 154px;

  justify-content: space-between;
}

.button_apple,
.button_google-play {
  font-family: var(--font_roboto);

  max-width: 156px;

  text-decoration: none;

  color: var(--color_white);
  border: transparent;
  border-radius: 7px;
  background-color: var(--color_black);
}

.link_download {
  display: flex;

  padding: 6px 12px 5px 11px;

  text-decoration: none;
}

.google_img,
.apple_img {
  width: 27px;
  height: 37px;
}

.apple_img,
.google_img {
  margin-right: 12.5px;
}

.download_google,
.download_apple {
  font-family: var(--font_roboto);
}

.download_google {
  font-size: 11px;
}

.download_apple {
  font-size: 10px;
}

.text_apple {
  font-size: 21px;
}

.text_google {
  font-size: 17px;
}

.text_apple,
.download_apple,
.download_google,
.text_google {
  color: var(--color_white);
}
