.football-app {
  position: relative;
  z-index: 10;
  height: 594px;

  background-image: linear-gradient(270deg, #fff 55%, transparent 100%), url(../img/bg-second_section.png);
  background-repeat: no-repeat;
}

.football-app__screen {
  display: flex;

  max-width: 1066px;
  margin: 11px auto 0;

  justify-content: space-between;
}

.football-app__wrap {
  position: relative;

  padding-left: 610px;
}

.description_match {
  display: block;

  box-sizing: border-box;
  max-width: 105px;
  margin-top: 26px;
}

/*Information in span*/
.time_match {
  font-family: var(--font_lato);
  color: var(--color_paragraph);
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0.5px;
  padding-top: 27px;
}

.teams {
  font-family: var(--font_lato);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;

  display: block;
  padding-top: 13px;
}

.match_status {
  font-family: var(--font_lato);
  line-height: 21px;

  display: block;
  padding: 17px 0;
}

.preview_match {
  position: absolute;
  z-index: 10;
  top: 109px;
  left: -25px;

  width: 358px;

  border-radius: 4px;
  background: var(--color_white);
  box-shadow: -22.04px, 23.88px, 48.98px, rgba(0, 0, 0, 0.5);
}

.preview_match_info {
  display: flex;
  padding: 0 0 17px;
}

.preview_match_imeges {
  position: relative;
  margin: 46px auto 0;
}

.chelsea-fc__img {
  position: absolute;
  bottom: 35px;
  left: 58px;
}

.arsenal-fc__img {
  width: 71px;
  height: 84px;
}

.preview_match_footer {
  padding: 12px 0 10px;
  background: #eee;
}

/*checkbox*/
input[type="checkbox"] {
  position: relative;

  width: 27px;
  height: 12px;
  margin-left: 36px;

  transition: 0.5s;
  transform: translateY(4px);

  border-radius: 50px;
  outline: none;
  background: #c6c6c6;
  box-shadow: inset 0 0 5px, rgba(0,0,0, 0.2);

  -webkit-appearance: none;
  -moz-appearance: none;
}

input:checked[type="checkbox"] {
  background: #02a9f4;
}

input[type="checkbox"]::before {
  position: absolute;
  top: -5px;
  left: -8px;

  width: 20px;
  height: 20px;

  content: " ";
  transition: 0.5s;
  transform: scale(1.1);

  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0, 0.2);
}

input:checked[type="checkbox"]::before {
  left: 14px;
}
/*-----------checkbox end-----------*/

.notifications {
  font-family: var(--font_lato);
  font-size: 19px;
  line-height: 25px;

  padding-left: 15px;

  color: var(--color_paragraph);
}

.arsenal_vs_chelsea {
  position: absolute;
  top: 294px;
  left: 83px;
}

.description_match-block {
  margin-top: 130px;
}

.description_match-text {
  font-family: var(--font_lato);
  line-height: 23px;

  max-width: 90%;
  padding-top: 25px;

  letter-spacing: 0.18px;
}

.description__text-more {
  padding-top: 23px;

  letter-spacing: 0.14px;
}

.what_it_does {
  font-family: var(--font_lato);
  font-weight: bold;
  line-height: 24px;

  text-transform: uppercase;

  color: var(--color_blue);
}

.football-app__more {
  font-family: var(--font_lato);
  font-weight: bold;
  line-height: 18px;

  display: block;

  padding-top: 25px;

  text-decoration: none;

  color: var(--color_blue);
}

.football-app__more:hover {
  color: #00318a;
}
