@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto");

@import "main-screen.css";
@import "football-app.css";
@import "user-experience-interface.css";
@import "our-features.css";
@import "our-users.css";
@import "our-partners.css";
@import "join-app.css";
@import "footer.css";

@import "reset.css";
@import "buttons.css";

:root {
  --color_white: #fff;
  --color_blue: #00adee;

  --color_black: #000;
  --color_titles: #333;
  --color_paragraph: #4f4f4f;
  --color-karusel__border: #828282;
  --box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  
  --font_lato: "Lato", sans-serif;
  --font_roboto: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}

.subtitles {
  font-family: var(--font_lato);
  font-size: 28px;
  font-weight: bold;
  line-height: 37px;

  padding-top: 26px;

  color: var(--color_titles);
}
