.our-partners {
  margin: 0 auto 68px;
  max-width: 1163px;
}

.our-partners__subtitle {
  font-family: var(--font_lato);
  font-size: 28px;
  font-weight: bold;
  line-height: 37px;

  color: var(--color_titles);
  text-align: center;
  margin: 57px 0 58px;
}

.our-partners__list {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.our-partners__label {
  margin: 0 39.5px;
}
