.our-user {
  margin-top: 63px;
}

.our-users__block {
  display: flex;
  max-width: 1376px;
  margin: 0 auto;
}

.our-users__subtitle {
  font-family: var(--font_lato);
  font-size: 28px;
  font-weight: bold;
  line-height: 37px;

  color: var(--color_titles);
  text-align: center;
}

.carousel__gradient-left {
  position: relative;
  top: 177px;
  left: 97px;
  background: linear-gradient(90deg, #fff, rgba(255, 255, 255, 0.7));
  width: 150px;
  height: 161px;
  z-index: 10;
}

.carousel__gradient-right {
  position: relative;
  bottom: 177px;
  left: 1180px;
  background: linear-gradient(270deg, #fff, rgba(255, 255, 255, 0.7));
  width: 150px;
  height: 161px;
  z-index: 10;
}

.carousel-list {
  max-width: 309px;
  height: 161px;
  border: 1px solid var(--color-karusel__border);
  border-radius: 4px;
  padding: 15px 13px 0 17px;
  margin: 0 17.5px;
}

.carousel__network {
  display: flex;
  justify-content: space-between;
  font-family: var(--font_lato);
}

.carousel__user-details {
  display: flex;
  align-items: center;
  padding-bottom: 18px;
}

.carousel__name {
  padding-left: 11px;
  font-weight: bold;
  color: var(--color_titles);
}
